<zk>
<zscript>
	<![CDATA[
	demo3.demoNotifyChange.entity.Product p = new demo3.demoNotifyChange.entity.Product();
	]]>
</zscript>
	<vlayout>
		<div viewModel="@id('pv') @init('demo3.demoNotifyChange.ProductViewModel')">
			<hlayout>
				<vlayout width="500px">
					<label value="List product"/>
					<listbox model="@load(pv.productList)" selectedItem="@bind(pv.product)">
						<listhead>
							<listheader label="ProductId" />
							<listheader label="name" />
							<listheader label="price" />
						</listhead>
						<template name="model">
							<listitem>
								<listcell label="@load(each.id)"></listcell>
								<listcell label="@load(each.name)"></listcell>
								<listcell label="@load(each.price)"></listcell>
							</listitem>
						</template>
					</listbox>
				</vlayout>
				<vlayout width="500px" style="padding-left: 30px;">
					<label value="list category"/>
					<listbox model="@load(pv.categoryList)">
						<listhead>
							<listheader label="CategoryId" />
							<listheader label="category" />
						</listhead>
						<template name="model">
							<listitem>
								<listcell label="@load(each.id)"></listcell>
								<listcell label="@load(each.nameCategory)"></listcell>
							</listitem>
						</template>
					</listbox>
				</vlayout>	
			</hlayout>
		
		<div>
			<hlayout>
				<div viewModel="@id('p') @init('demo3.demoNotifyChange.entity.Product')">
					<vbox style="float:left;padding-left:20px;">
	    				<label value="add product"/>
			            <hlayout>
			                Name : <textbox value="@bind(pv.product.name)" style="font-weight:bold"></textbox>
			            </hlayout>
			            <hlayout>
			                Price : <textbox value="@bind(pv.product.price)" style="font-weight:bold"></textbox>
			            </hlayout>
			            <hlayout><button label="add" onClick="@command('addProduct',product = pv.product,p=pv)"></button></hlayout>
	        		</vbox>
				</div>
			</hlayout>
		</div>
		</div>
	</vlayout>
</zk>